@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: #0f172a;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
  overflow: hidden;
  background-color: #0f172a;
}

#root {
  height: 100%;
}
